/* Add these styles to chats.css */
.message-bubbles-sent {
    background-color: #dcf8c6;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
    max-width: 70%;
    word-wrap: break-word;
  }
  
  .message-bubble-received {
    background-color: #ff9595;
    padding: 10px;
    text-align: right;
    border-radius: 8px;
    margin: 5px 0;
    max-width: 70%;
    word-wrap: break-word;
  }
  